<div class="container">
  <div class="card-deck">
    <div class="card">
      <div class = "face card-head">
        <img class="card-img-top" src="https://picsum.photos/309/200?image=1050" alt="Card image cap">
      </div>  
      <div class="face card-body">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a routerLink="/heroes">Heroes</a>

    </div>
    </div>
    <div class="card">
        <div class = "face card-head">
            <img class="card-img-top" src="https://picsum.photos/309/200?image=1041" alt="Card image cap">
        </div>
      <div class="face card-body">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card">
        <div class = "face card-head">
          <img class="card-img-top" src="https://picsum.photos/309/200?image=1050" alt="Card image cap">
        </div>  
        <div class="face card-body">
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
          <div class = "face card-head">
              <img class="card-img-top" src="https://picsum.photos/309/200?image=1041" alt="Card image cap">
          </div>
        <div class="face card-body">
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
  </div>
  <div class="container">
    <!-- Call to Action -->
    <section class="content-section bg-primary text-white">
        <div class="container text-center">
          <h2 class="mb-4">Start Creating Topic</h2>
          <!---->
          <a href="/addquestion" class="btn btn-xl btn-light mr-4">Add New Topic!</a>
        </div>
      </section>
  </div>
</div>