mat-form-field {
    width: 100%;
    font-size : 20px;
}
mat-form-field-appearance-fill mat-form-field-flex{
    background-color : none;
}
mat-input-element {
   color : black;
}
mat-form-field-infix{
    color : red;
}
.mat-card {
    background-color : red;

}
.questionSubmit {
    margin-right:5px;
}
