<div class="container">
    <div class="-card-deck card-columns">
       <!-- Wrap two standard cards -->
       <figure class="card card-flip">
          <div class="card bg-dark text-white">
             <img class="card-img img-fluid" src="http://lorempixel.com/400/200/animals/1" alt="">
             <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h4 class="card-title display-1">Rhinoceros</h4>
             </div>
          </div>
          <div class="card">
             <div class="card-body d-flex justify-content-center align-items-center">
                <p class="card-text">Rhinoceros description.</p>
             </div>
          </div>
       </figure>
       <figure class="card card-flip">
          <div class="card bg-dark text-white">
             <img class="card-img" src="http://lorempixel.com/400/200/animals/2" alt="">
             <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h4 class="card-title display-1">Gorilla</h4>
             </div>
          </div>
          <div class="card text-white bg-primary">
             <div class="card-body d-flex justify-content-center align-items-center">
                <p class="card-text">Gorilla description.</p>
             </div>
          </div>
       </figure>
       <figure class="card card-flip">
          <div class="card bg-dark text-white">
             <img class="card-img" src="http://lorempixel.com/400/200/animals/3" alt="">
             <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h4 class="card-title display-1">Tiger</h4>
             </div>
          </div>
          <div class="card text-white bg-primary">
             <div class="card-body d-flex justify-content-center align-items-center">
                <p class="card-text">Tiger long description.</p>
             </div>
          </div>
       </figure>
       <figure class="card card-flip">
          <div class="card bg-dark text-white">
             <img class="card-img" src="http://lorempixel.com/400/200/animals/4" alt="">
             <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h4 class="card-title display-1">Giraffe</h4>
             </div>
          </div>
          <div class="card">
             <div class="card-body d-flex justify-content-center align-items-center">
                <p class="card-text">Giraffe description.</p>
             </div>
          </div>
       </figure>
       <figure class="card card-flip">
          <div class="card bg-dark text-white">
             <img class="card-img img-fluid" src="http://lorempixel.com/400/200/animals/7" alt="">
             <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h4 class="card-title display-1">Cat</h4>
             </div>
          </div>
          <div class="card">
             <div class="card-body d-flex justify-content-center align-items-center">
                <p class="card-text">Cat description.</p>
             </div>
          </div>
       </figure>
       <figure class="card card-flip">
          <div class="card bg-dark text-white">
             <img class="card-img" src="http://lorempixel.com/400/200/animals/8" alt="">
             <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h4 class="card-title display-1">Dog</h4>
             </div>
          </div>
          <div class="card text-white bg-primary">
             <div class="card-body d-flex justify-content-center align-items-center">
                <p class="card-text">Dog description.</p>
             </div>
          </div>
       </figure>
    </div>
 </div>