.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../../src/assets/img/bg-masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btn-xl {
    padding: 1.25rem 2.5rem;
  }
  
  .content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  
  .content-section-heading h2 {
    font-size: 3rem;
  }
  
  .content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
  